/*------------------------------------*\
  =MARGIN AND PADDING
\*------------------------------------*/

@each $space in $spacings {
    // Margin all side
    .m-#{$space} {
        margin: #{$space}px !important;
    }

    // Padding all side
    .p-#{$space} {
        padding: #{$space}px !important;
    }
    
}

@each $space in $spacings {
    @each $side in $sides {
        // Margin respective side
        .m-#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }
        // Margin respective side
        .p-#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }
}

.m-auto { //Auto margin
    margin: auto !important;
}